# package directories
node_modules
jspm_packages
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Serverless directories
.serverless

# IDE
.idea

#
.stignore
.env
/nbproject/
.webpack